* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app
{
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  justify-content: space-around;
}
body {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: white;
}

/* Logo Section */
.logo-container {
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

/* Login Section */
.login-container {
  text-align: center;
}

.no-account-text {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ccc;
}

.login-button {
  background-color: #d4a358;
  border: none;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #c09a4d;
}
